body {
  font-family: "Lato";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

p {
  font-family: "Lato"
}

hr {
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  border-top-style: dotted;
  border-color: #fff;
  border-width: 5px;
  width: 7%;
}

/* Header Section */
#header-content, #portfolio {
  background-color: #08d9d6;
  color: #fff;
}

.container-fluid {
  padding: 2% 11% 4%;
}

.header-logo {
  width: 8%;
}

.header-img {
  width: 20%;
  padding-bottom: 1%;
}

.header-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 7px;
  margin-bottom: 13px;
}

.header-bio {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7;
}

.header-btn, .submit-btn {
  font-weight: bold;
  border: 2px solid #f7f7f7;
  margin: 2.5% 0 3%;
  padding: 15px 40px;
  text-transform: uppercase;
}

.header-btn:hover {
  background-color: #08d9d6;
  color: #fff;
  border: 2px solid #fff;
}

/* Navbar Section */
.navbar {
  padding-bottom: 5%;
}

.navbar-nav .nav-item .nav-link {
  color: #f7f7f7;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #fff;
}

.nav-item {
  margin: 10px 5px;
}

.nav-link {
  font-family: "Lato";
  font-weight: 400;
  text-transform: uppercase;
}

/* Services Section */
#services {
  padding: 7% 11% 7%;
  background-color: #f1f1f1;
}

.service-icon {
  padding-bottom: 30px;
  color: #08d9d6;
}

.service-icon:hover {
  color: #08d2d2;
}

.service-bio-title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}

.service-bio {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #595959;
  letter-spacing: 0.5px;
}

/* Portfolio Section */
.profile-img {
  width: 80%;
  margin: 5rem 0 0;
  text-align: center;
}

.portfolio-content h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.portfolio-content p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7;
}

.portfolio-content1 h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.portfolio-content1 p {
  font-family: "Lato";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7;
}

.portfolio-content {
  text-align: right;
}

.portfolio-content1 {
  text-align: left;
}

.newcontent2 {
  margin-top: 5%;
}

.portfolio-title {
  padding: 5% 0 3%;
}

.portfolio-title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

/* Samples Section */
#samples {
  background-color: #f1f1f1;
}

.carousel-item {
  padding: 7% 11% 7%;
}

.data-target {
  margin-bottom: 15px;
}

.slider-img {
  width: 60%;
}

.sample-title {
  padding: 4.5% 0 0;
}

.sample-title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.sample-title p {
  font-size: 1.1rem;
  padding: 0 33.5%;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5;
  color: #595959;
  letter-spacing: 0.5px;
}

.sample-content h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.sample-content p {
  font-size: 1.1rem;
  padding: 2% 30%;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5;
  color: #595959;
  letter-spacing: 0.5px;
}

/* Contact Form */
#order-form {
  background-color: #08d9d6;
  color: #fff;
  padding: 7% 15% 7%;
}

.form-group {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5;
  color: #f7f7f7;
  letter-spacing: 0.5px;
}

.form-control {
  background-color: #08d9d6;
  border-color: #f7f7f7;
  color: #f7f7f7;
  font-size: 1rem;
}

.form-control:focus {
  background-color: #08d2d2;
  color: #f7f7f7;
  border: solid 2px #08d9d6;
}

.form-control::placeholder {
  color: #f7f7f7;
}

.order-form-title p {
  font-size: 1.1rem;
  padding: 2% 30%.5%;
  margin: 0 0 20px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5;
  color: #f7f7f7;
  letter-spacing: 0.5px;
}

.order-form-title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

/* Contact me Section */
#contact-info {
  background-color: #f1f1f1;
  padding: 7% 11% 7%;
}

.contact-content-freelance, .contact-content-web {
  padding-top: 2%;
  border-left: 4px dotted #595959;
  height: 150px;
  border-left-width: thick;
}

.contact-content {
  padding-top: 2%;
}

.contact-content p, .contact-content-freelance p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5;
  color: #595959;
  letter-spacing: 0.5px;
}

.contact-content h1, .contact-content-freelance h1, .contact-content-web h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.contact-link {
  text-transform: uppercase;
  color: #08d9d6;
  text-decoration: none;
}

.contact-link:hover {
  text-transform: uppercase;
  color: #08d2d2;
  text-decoration: underline;
}

.social-icon-web {
  border-width: 3px;
  border-style: solid;
  border-color: #08d9d6;
  color: #08d9d6;
  text-align: center;
  border-radius: 50%;
  padding: 2.5% 3%;
}

.social-icon-instagram {
  margin-right: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #08d9d6;
  color: #08d9d6;
  text-align: center;
  border-radius: 50%;
  padding: 2% 3%;
}

.social-icon-facebook {
  margin-right: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #08d9d6;
  color: #08d9d6;
  text-align: center;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 2% 4% 2% 4%;
}

.social-icon-instagram:hover {
  border-width: 3px;
  border-style: solid;
  border-color: #08d9d6;
  color: #ffffff;
  background-color: #08d9d6;
  text-align: center;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 2% 3%;
}

.social-icon-web:hover {
  border-width: 3px;
  border-style: solid;
  border-color: #08d9d6;
  color: #ffffff;
  background-color: #08d9d6;
  text-align: center;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 2.5% 3%;
}

.social-icon-facebook:hover {
  border-width: 3px;
  border-style: solid;
  border-color: #08d9d6;
  color: #ffffff;
  background-color: #08d9d6;
  text-align: center;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 2% 4% 2% 4%;
}

/* Copyright Section */
#footer-section {
  background-color: #08d9d6;
  padding: 2% 11%;
}

.footer-content {
  margin-top: 1%;
}

.footer-content p {
  margin-bottom: 0;
  font-size: 1.1rem;
  padding: 2% 30%.5%;
  margin: 0 0 20px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5;
  color: #f7f7f7;
  letter-spacing: 0.5px;
}

@media (max-width: 993px) {
  .contact-content-middle{
    margin-bottom: 0px !important;
  }
  .portfolio-content, .portfolio-content1 {
    text-align: center;
  }

  .newcontent2 {
    margin-top: 7%;
  }

  .portfolio-content p, .portfolio-content1 p {
    padding: 0 27%;
  }

  .sample-title p {
    padding: 0 27%;
  }

  .profile-img {
    width: 50%;
    margin-bottom: 13%;
  }

  .order-form-title p {
    padding: 2% 20%.5%;
  }

  .contact-content-freelance, .contact-content-web {
    border-left: none;
    margin: 40px;
  }

  .social-icon-facebook {
    padding: 1% 2%;
  }

  .social-icon-facebook:hover {
    padding: 1% 2%;
  }

  .social-icon-instagram {
    padding: 1% 1.5%;
  }

  .social-icon-instagram:hover {
    padding: 1% 1.5%;
  }

  .social-icon-web {
    padding: 1.2% 1.7%;
  }

  .social-icon-web:hover {
    padding: 1.2% 1.7%;
  }
}

@media (max-width: 700px) {
  .social-icon-facebook {
    padding: 2% 3.5%;
  }

  .social-icon-facebook:hover {
    padding: 2% 3.5%;
  }

  .social-icon-instagram {
    padding: 2% 2.5%;
  }

  .social-icon-instagram:hover {
    padding: 2% 2.5%;
  }

  .social-icon-web {
    padding: 2.5% 3%;
  }

  .social-icon-web:hover {
    padding: 2.5% 3%;
  }
}
